body {
padding-top: 7em;
}

select {
   background: white;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
border: 0;
background-color: #eceeef;
}

.nav-tabs>li > a {
background-color: #eceeef;
}

.nav-tabs{
  background-color:#eceeef;
}
.tab-content{
    background-color:#eceeef;
    padding-top: 0.5em;

}

.nav-tabs > li > a:hover{
  background-color: #eceeef !important;
}

.tab-pane {
  background-color:#eceeef;
}

.li > nav-item {
  background-color:#eceeef;

}

.nav-link {
  background-color:#eceeef;
}

.nav-link>active {
  background-color:#eceeef;
}
